/* CUSTOMER SECTION */

.customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: clamp(1rem, 100%, 3rem); */
    padding-top: 3rem;
    margin: 0rem auto;
    padding: 0 clamp(1rem, 5vw, 3rem);

}

.customer-text-content {
    max-width: 25.75rem;


    & p {
        max-width: 25.96rem;
        padding-block: 0.9rem;
    }
}

.customer-footer {
    background-color: #82B5A5;
    padding: 1rem;
    border-radius: 280px 0px 0px 0px;
    background-color: #82B5A5;
}

.cus-image {
    max-width: 40rem;
    width: 100%;
    position: relative;
    right: 20%;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: clamp(0rem, 40%, 30rem);
    padding-inline: clamp(2rem, 100%, 4rem);
}